*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;600;800&display=swap');

/* Index */

body{
    background: #fffff1;
}

/* Header (todas las pags)*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid .0625rem #D9D9D9;
}

header div img{
    width: 5.25rem;
    height: 5.25rem;
}

header nav ul {
    height: 6.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.625rem;
    flex-wrap: nowrap;
    align-items: flex-end;
}

header nav ul li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    line-height: 3.25rem;
    text-shadow: 0.025rem 0.025rem #000003;
}

/*Index Main*/
.mainFirst{
    background-image: url(../assets/images/cover-pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15rem;
    margin-top: .125rem;
}

.mainFirst h1{
    width: 35%;
    text-align: center;
    color: #fffff1;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 900;
    line-height: 3.25rem;
    text-shadow: 0.055rem 0.055rem #fffff3;
    letter-spacing: 0.725rem;
    padding-top: 1.625rem;
    padding-left: 1.5625rem;
}

.mandala{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(2, 40%);
    grid-template-rows: auto 12.5rem;
    justify-content: center;
    border-bottom: solid .0625rem #D9D9D9;
    padding-bottom: 2rem;
}

.imgSecond{
    width: 80%;
    display:grid;
    grid-column: 1 /2;
    grid-row: 1 /4;
    justify-self: center;
    align-self: center;
    padding-top: .625rem;
}

.imgSecond img{
    width: 100%;
    object-fit: contain;
    border-radius: 31.25rem;
    opacity: 70%;
}

.mandala h2{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    line-height: 3.25rem;
    text-shadow: 0.025rem 0.025rem #000003;
    padding-top: 1rem;
    text-align: center;
}
.mandala p{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    line-height: 1.25rem;
    word-spacing: 0.5rem;
}

.mandala button{
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    font-size: 0.9rem;
}

h2{
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    line-height: 3.25rem;
    text-shadow: 0.025rem 0.025rem #000003;
    padding-top: 1rem;
    text-align: center;
}

p{
    width: 100%;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    line-height: 1.25rem;
    word-spacing: 0.5rem;
    padding-bottom: 0.5rem;
}

button{
    background-color: #D9D9D9;
    box-shadow: .125rem .125rem 10rem rgba(255, 228, 196, 0.314);
    border-radius: 1rem; 
    border-color: rgb(200, 184, 165);
    padding: .425rem;
    margin-top: .625rem;
}

button a{
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.25rem;
    word-spacing: 0.1rem;
    text-decoration: none;
    color: black;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.galleryH2{
    text-align: center;
}

.gallery img{
    width: 12.5rem;
    height:12.5rem;
    opacity: 70%;
    object-fit: cover;
}


/*Footer (todas las pags)*/

footer div{
    text-align: center;
}

footer div a img{
    width: 1.875rem;
    height: 1.875rem;
    margin-top: 6.25rem;
}

footer p{
    text-align: center;
    padding-top: 1rem;
}

/* About Us Main */

.aboutSectionFirst{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: solid .0625rem #D9D9D9;
}

.aboutTextFirst{
    width: 40%;
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    line-height: 1.25rem;
    word-spacing: 0.5rem;
}

.aboutTextFirst p{
    max-width: 100%;
    text-align: center;
    padding: 0 2.5rem;
}

.aboutImgFirst{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutImgFirst img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 70%;
    width: 31.25rem;
    height: auto;
}

.yogaBenefits{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardBenefits {
    background-color: #fffff1;
    max-width: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardBenefits img{
    width: 5.25rem;
    height: 5.25rem;
    opacity: 70%;
    margin: 0.5rem 0 0.5rem 0;
}

.cardBenefits p{
    width: 10rem;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    line-height: 1.25rem;
    word-spacing: 0.5rem;
}

/* Classes Main */

.ourPrograms{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem; 
}

.cardPrograms{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.programImg{
    width: 50%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.cardItems{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardItems button{
    border-radius: 0rem;
    width: 35%;
    margin-bottom: 2rem;
}
.cardPrograms img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.cardPrograms p{
    width: 100%;
    text-align: center;
}

h3{
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    line-height: 3.25rem;
    text-shadow: 0.025rem 0.025rem #000003;
    padding-top: 1rem;
    text-align: center;
}

/* Shop Main */
.sectionShop{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardShop{
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.cardShop div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardShop div img{
    width:12.5rem;
    height:16.5rem;
    object-fit: fit;
    overflow: hidden;
    border-radius: 0.5rem;
    border: solid 1px darkslategray;
    box-shadow: .125rem .125rem .625rem grey;
    background-color: #D9D9D9;
    padding: 0.3rem 0.5rem 2.5rem 0.5rem;
    margin-bottom: -1.5rem;
}
.cardShop div p{
    text-align: center;
}
.cardShop div button{
   width: 9em;
   margin-bottom: 2rem;
}

/* Contact Main */
iframe{
    width: 55%;
    height: 11rem;
    border: solid 1px darkslategray;
    box-shadow: .125rem .125rem .625rem grey;
    border-radius: 0.5rem;
    opacity: 80%;
}
.map{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.map ul li{
    width: 90%;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 300;
    line-height: 1.75rem;
    word-spacing: 0.5rem;
    text-align: center;
    list-style: none;
}

.sectionForm{
    width: 100%;
    height: auto;
    background-color: #FAF3F0;
    border: solid .0625rem #DDCDB9;
} 

.freeLesson{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.875rem;

}
.formItems{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formItems h2{
    margin-bottom: 2rem;
}

.formImg{
    width: 50%;
    height: 18.75rem;
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;    
    overflow: hidden;    
}

.formImg img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit:cover;
    overflow: hidden;
    opacity: 80%;
}

.personalInfo{
    border: solid 1px #DDCDB9;
    background-color: #DDCDB9;
    border-radius: 0.6rem;
    height: 2.25rem;
    width: 12rem;
    margin: -1rem auto -1rem auto;
}
::placeholder{
    color: #fffff1;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
}

.submit{
    border: solid 1px #C6B7A3;
    background-color: #C6B7A3;
    border-radius: 0.6rem;
    height: 2.25rem;
    width: 7rem;
    color: #fffff1;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin-left: 2.1rem;
}

/******* Media Queries Main *******/
@media (max-width: 768px) {
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    header div img{
        width: 4.25rem;
        height: 4.25rem;
    }
    header nav ul {
        height: auto;
        padding-right: none;
        flex-direction: column;
        align-items: center;
        gap: .5em;
    }
    header nav ul li a{
        font-weight: 300;
        line-height: normal;
    }
    }

@media (max-width: 620px) {
    .mandala{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: solid .0625rem #D9D9D9;
        padding-bottom: 2rem;
    }
    .imgSecond{
        width: 50%;
    } 
    .imgSecond img{
        width: 100%;
        object-fit: contain;
        border-radius: 31.25rem;
        opacity: 70%;
    }
    .mandala h2{
        padding-top: 8px;
    }
    .mandala p{
        line-height: 1rem;
        word-spacing: 0.4rem;
        font-size: 1rem;
        padding: 0 20%;
    }
    .mandala button{
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    header div img{
        width: 4rem;
        height: 4rem;
        align-self: center;
    }
  
    .gallery{
        flex-direction: column;
    }
    .gallery img{
        width: 8.5rem;
        height:8.5rem;
    }
    .pic-no{
        display:none;
    }
}
    
@media (max-width: 320px) {
    header{
        flex-direction: column;
        
        }    
   
}
/******* Media Queries About *******/
@media (max-width: 576px){
    .aboutSectionFirst{
        flex-direction: column;
        width: 100%;
    }
    .aboutTextFirst{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .yogaIcons{
        margin: 0 40%;
    }
    .cardBenefits img{
        width: 3.75rem;
        height: 3.75rem;
    }
}